/* RESET */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background:#fafafa;
    color:#333;
    line-height:1.6;
}

/* HEADER */
header{
    position:fixed;
    top:0;
    width:100%;
    background:#ffffff;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:18px 8%;
    box-shadow:0 2px 10px rgba(0,0,0,.08);
    z-index:1000;
}

.logo img{
    height:60px;
}

nav a{
    text-decoration:none;
    color:#222;
    margin:0 15px;
    font-weight:500;
    transition:.3s;
}

nav a:hover{
    color:#C9A227;
}

.btn{
    background:#C9A227;
    color:#fff;
    padding:12px 24px;
    border-radius:30px;
    text-decoration:none;
    font-weight:bold;
}

.btn:hover{
    background:#a88418;
}

/* HERO */
.hero{
    height:100vh;
    background:linear-gradient(rgba(0,0,0,.45),rgba(0,0,0,.45)),
    url("assets/hero.jpg") center/cover;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    color:white;
    padding:20px;
}

.hero h1{
    font-size:56px;
    margin-bottom:20px;
}

.hero p{
    font-size:22px;
    max-width:700px;
}

.btn2{
    margin-top:30px;
    background:#C9A227;
    color:white;
    padding:15px 35px;
    text-decoration:none;
    border-radius:30px;
    font-size:18px;
}

/* SECTION */
section{
    padding:90px 10%;
}

section h2{
    text-align:center;
    font-size:38px;
    margin-bottom:40px;
    color:#C9A227;
}

/* CARD */
.card{
    background:white;
    padding:30px;
    margin:20px auto;
    border-radius:18px;
    max-width:350px;
    text-align:center;
    box-shadow:0 10px 25px rgba(0,0,0,.08);
    transition:.3s;
}

.card:hover{
    transform:translateY(-8px);
}

/* FOOTER */
footer{
    background:#111;
    color:white;
    text-align:center;
    padding:30px;
}

#booking{
    background:#f8f8f8;
}

form{
    max-width:700px;
    margin:auto;
    display:flex;
    flex-direction:column;
    gap:15px;
}

input,
select,
textarea{
    padding:15px;
    border:1px solid #ddd;
    border-radius:10px;
    font-size:16px;
}

button{
    background:#C9A227;
    color:white;
    border:none;
    padding:15px;
    border-radius:10px;
    cursor:pointer;
    font-size:18px;
}

button:hover{
    background:#a88418;
}
